.wrapper {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--header-bg-color);
  padding: 20px 10px;

  box-sizing: border-box;

  border-radius: 0 0 10px 10px;
}

.wrapper .logo {
  height: 100%;
  object-fit: contain;
}
